{% extends "core/base.html" %}
{% load django_vite %}

{% block content %}
<div class="container">
    <h2>Your Cart</h2>
    <div class="row">
        {% for cart in carts %}
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm h-100">
                <div class="card-img-top-container">
                    <img src="{{ cart.product.image }}" class="card-img-top" alt="{{ cart.product.title }}">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ cart.product.title }}</h5>
                    <p class="card-text">${{ cart.product.price }}</p>
                    <a href="{% url 'shop:product_show' cart.product.id %}" class="btn btn-primary mt-auto">View Product</a>
                    <form method="post" action="{% url 'shop:remove_cart' cart.product.id %}" class="mt-auto">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger mt-auto">Remove from Cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<a href="{% url 'shop:checkout' %}" class="btn btn-success">Proceed to Checkout</a>
</div>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        var carts = {{ carts | safe }};
    </script>
    {% vite_hmr_client %}
    {% vite_asset 'src/apps/store/cart.js' %}
{% endblock %}
