{% extends "core/base.html" %}
{% load django_vite %}

{% block content %}
    <div id="app">
        <checkout></checkout>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        var ext_csrf_token = '{{ csrf_token }}';
        var ext_product_id = {{ product_id }};
        var ext_product_show_json_url = '{% url "shop:product_show_json" product_id %}';
        var ext_add_to_favorites_url = '{% url "shop:add_to_favorites" product_id %}';
        var ext_remove_from_favorites_url = '{% url "shop:remove_from_favorites" product_id %}';
    </script>
    {% vite_hmr_client %}
    {% vite_asset 'src/apps/checkout_page/checkout_page.js' %}
{% endblock %}
